# **Finding Aiports With Most Entries**
Selected the top two airports with the most entries for testing the predictive model.

In [ ]:
import pandas as pd

dataset_path = 'balanced_dataset111.csv'
df = pd.read_csv(dataset_path)

print("Displaying the first 5 rows of the dataset:")
df.head()

Displaying the first 5 rows of the dataset:

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,3,7,1,1100-1159,1,3,5,50,Comair Inc.,1555,...,15,McGhee Tyson,35.812,-83.992,Douglas Municipal,0.00,0.0,0.0,59.0,3.80
1,6,7,1,1700-1759,3,4,5,180,Frontier Airlines Inc.,2562,...,5,General Mitchell Field,42.950,-87.897,Orlando International,0.20,0.0,0.0,66.0,3.80
2,10,5,1,2000-2059,3,7,66,66,SkyWest Airlines Inc.,29960,...,14,Chicago O'Hare International,41.978,-87.906,Syracuse Hancock International,0.00,0.0,0.0,59.0,6.93
3,12,2,0,2200-2259,2,5,63,199,Delta Air Lines Inc.,32251,...,19,Atlanta Municipal,33.641,-84.427,Puerto Rico International,0.20,0.0,0.0,68.0,15.66
4,1,2,1,2000-2059,5,4,14,175,Southwest Airlines Co.,5629,...,1,Chicago Midway International,41.785,-87.752,Ronald Reagan Washington National,0.01,0.1,0.0,34.0,7.61

In [ ]:
# counting the occurrences of each airport in the 'DEPARTING_AIRPORT' column
airport_counts = df['DEPARTING_AIRPORT'].value_counts()

# finding the airport with the highest number of occurrences
most_common_airport = airport_counts.idxmax()
most_common_count = airport_counts.max()

print(f"The airport with the highest number of rows (occurrences) is '{most_common_airport}' with {most_common_count} flights.")

print("\nAll airports sorted by number of occurrences:")
print(airport_counts)

The airport with the highest number of rows (occurrences) is 'Atlanta Municipal' with 142220 flights.

All airports sorted by number of occurrences:
DEPARTING_AIRPORT
Atlanta Municipal                 142220
Chicago O'Hare International      133431
Dallas Fort Worth Regional        119488
Stapleton International           100170
Douglas Municipal                  88530
                                   ...
Portland International Jetport      1440
Pensacola Regional                  1377
Spokane International               1191
Sanford NAS                          784
Puerto Rico International             37
Name: count, Length: 96, dtype: int64

In [ ]:
# filtering data for 'Atlanta Municipal'
atlanta_df = df[df['DEPARTING_AIRPORT'] == 'Atlanta Municipal']

# filtering data for 'Chicago O'Hare International'
chicago_df = df[df['DEPARTING_AIRPORT'] == "Chicago O'Hare International"]

# saving the filtered datasets to separate CSV files
atlanta_df.to_csv('atlanta_municipal_dataset.csv', index=False)
chicago_df.to_csv('chicago_ohare_dataset.csv', index=False)

print("Filtered datasets created and saved as 'atlanta_municipal_dataset.csv' and 'chicago_ohare_dataset.csv'.")

Filtered datasets created and saved as 'atlanta_municipal_dataset.csv' and 'chicago_ohare_dataset.csv'.